<br>
<div class="non_layout">

<h2 id="Cakes"><strong>Cakes</strong></h2>
<p>Cakes for all Occasions</p>
<br>
<h4><em>Multi-Layered Cakes</em></h4>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/img/cake1.jpg">
      <div class="card-body">
        <h5 class="card-title">Multi-tier cakes</h5>
        <p class="card-text">We can match most, if all, specifications desired by all our clients.</p>
      </div>
      <div class="card-footer">
        <strong>$ 999.99</strong>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/img/cake2.jpg">
      <div class="card-body">
        <h5 class="card-title">Weddings</h5>
        <p class="card-text">Accomodations can be made for those with allergies or for exotic ingredients.</p>
      </div>
      <div class="card-footer">
        <strong>$ 99.99</strong>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/img/cake3.jpg">
      <div class="card-body">
        <h5 class="card-title">Fruit layers</h5>
        <p class="card-text">We make fruit cakes too.</p>
      </div>
      <div class="card-footer">
        <strong>$ 49.99</strong>
      </div>
    </div>
  </div>

  <br><h4><em>Classic Cakes</em></h4><br>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/img/cake4.jpg">
      <div class="card-body">
        <h5 class="card-title">Classic</h5>
        <p class="card-text">This is a pretty small cake if you don't really have much to spend. If you got the "dough," you should look at the cakes above.</p>
      </div>
      <div class="card-footer">
        <strong>$ 69.99</strong>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/img/cake5.jpg">
      <div class="card-body">
        <h5 class="card-title">Classic Chocolate</h5>
        <p class="card-text">This one's full of chocolate. Yes, we do that too. Call a nearby location for more chocolate details.</p>
      </div>
      <div class="card-footer">
        <strong>$ 599.99</strong>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/img/cake6.jpg">
      <div class="card-body">
        <h5 class="card-title">Circular cake?</h5>
        <p class="card-text">We're not really sure what this is but we're sure it's a cake. This recipe was just stolen off the internet that we perfected, so come try it out.</p>
      </div>
      <div class="card-footer">
        <strong>$ 899.99</strong>
      </div>
    </div>
  </div>
</div>