<br>
<div class="non_layout">

<h2 id="Cookies"><strong>Cookies</strong></h2>
<p>Cookies packed with punch!</p>
<br>


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/img/cookie1.jpg">
    <div class="card-body">
      <h5 class="card-title">Filled-sandwich cookie things</h5>
      <p class="card-text">This cookie got crazy filling. Don't take my word for it, just look at that picture!</p>
    </div>
    <div class="card-footer">
      <strong>$ 19.99</strong>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/cookie2.jpg">
    <div class="card-body">
      <h5 class="card-title">Macarons</h5>
      <p class="card-text">We didn't start making these until Gordon Ramsay and the cooking networks started making them in all their shows. They're delicious.</p>
    </div>
    <div class="card-footer">
      <strong>$ 109.99</strong>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/cookie3.jpg">
    <div class="card-body">
      <h5 class="card-title">Holiday Specials</h5>
      <p class="card-text">Draw us a shape, and we'll make a cookie out of it. We respect all holidays no matter how dumb the rest of us think it is.</p>
    </div>
    <div class="card-footer">
      <strong>$ 279.99</strong>
    </div>
  </div>
</div>

<br><br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/img/cookie4.jpg">
    <div class="card-body">
      <h5 class="card-title">Buddah cookies</h5>
      <p class="card-text">Butter cookies. The name given can be interpreted anyway you want to read it.</p>
    </div>
    <div class="card-footer">
      <strong>$ 99.99</strong>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/cookie5.jpg">
    <div class="card-body">
      <h5 class="card-title">Chocolate Chip</h5>
      <p class="card-text">What kind of bakery would we be without the classic American cookie?</p>
    </div>
    <div class="card-footer">
      <strong>$ 9.99</strong>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/cookie6.jpg">
    <div class="card-body">
      <h5 class="card-title">Chock full of Choc</h5>
      <p class="card-text">A take on our crazy chocolate cake made into a cookie form.</p>
    </div>
    <div class="card-footer">
      <strong>$ 39.99</strong>
    </div>
  </div>
</div>
</div>