<br>
<div class="non_layout">

<h2 id="Muffins"><strong>Muffins</strong></h2>
<p>Muffins, cupcakes, who can tell?</p>
<br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/img/muffin1.jpg">
    <div class="card-body">
      <h5 class="card-title">Chocolate Muffin</h5>
      <p class="card-text">CHOCOLATE AND COCONUT. CHOCOLATE AND COCONUT. CHOCOLATE AND COCONUT.</p>
    </div>
    <div class="card-footer">
      <strong>$ 99.99</strong>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/muffin2.jpg">
    <div class="card-body">
      <h5 class="card-title">Corny Muffin</h5>
      <p class="card-text">This is a corny muffin. Ask for a berry and we'll put it in there. Usually raspberry.</p>
    </div>
    <div class="card-footer">
      <strong>$ 49.99</strong>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/muffin3.jpg">
    <div class="card-body">
      <h5 class="card-title">Velvet Muffins</h5>
      <p class="card-text">Great cupc... err.. muffin to start the day. Great with eggs and bacon.</p>
    </div>
    <div class="card-footer">
      <strong>$ 8.99</strong>
    </div>
  </div>
</div>

<br><br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/img/muffin4.jpg">
    <div class="card-body">
      <h5 class="card-title">Specialty cupcake muffins</h5>
      <p class="card-text">The sweeter the muffin, the more it becomes a cupcake. Give someone special a cupcake muffin today!</p>
    </div>
    <div class="card-footer">
      <strong>$ 25.99</strong>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/muffin5.jpg">
    <div class="card-body">
      <h5 class="card-title">Fudge Muffin</h5>
      <p class="card-text">This muffin is made of fudge. So technically, we should just call if fudge in cupcake wrappers but it just didn't sound right. Fudge muffin.</p>
    </div>
    <div class="card-footer">
      <strong>$ 28.99</strong>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/muffin6.jpg">
    <div class="card-body">
      <h5 class="card-title">Candy Muffin</h5>
      <p class="card-text">Put candy in your muffins to make it even sweeter. Great for those mornings when you just know that you did a great job brushing your teeth.</p>
    </div>
    <div class="card-footer">
      <strong>$ 1.99</strong>
    </div>
  </div>
</div>
</div>